<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198290967169-tu2trhjaknt84sd2k5pd9svu090cd0fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198290967169-tu2trhjaknt84sd2k5pd9svu090cd0fv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>198290967169-nsnfko1a6ougk52a0hbpg1cofeg77mjp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0nqq1Nsk5ubMmGAbCvoMIGvsOuP1jrbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>198290967169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dpalacio.project.ChatMe</string>
	<key>PROJECT_ID</key>
	<string>chatme-1337d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatme-1337d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198290967169:ios:b7bafe6baecd92358a9b80</string>
	<key>DATABASE_URL</key>
	<string>https://chatme-1337d.firebaseio.com</string>
</dict>
</plist>